<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" id='notice-container' aria-labelledby="dropdownMenuButton">
    <% current_user.alert_received.each do |alert| %>
      <%= link_to alert.body, '#', class: 'dropdown-item'%>
    <% end %>
    
  </div>
</div>